body {
  background-color: rgb(51, 64, 83);
  display: flex;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.low-urgency {
  background-color: rgb(190, 255, 149);
}

.med-urgency {
  background-color: rgb(255, 243, 149);
}

.high-urgency {
  background-color: rgb(255, 149, 149);
}
.project-group {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 20px;
  padding: 8px;
  min-width: 475px;
}
.todo-info {
  width: 75%;
}
.todos {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
}
.urgencycut {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 20px;
}
